parameters:
	level: 6
	paths:
		- .
	excludePaths:
		- vendor
		- tests
	fileExtensions:
		- php
	ignoreErrors:
		-
			message: '#^Comparison operation "\>" between int\<22, max\> and 21 is always true\.$#'
			path: lib/BlackjackGame.php
